<h1>Welcome to the Sinatra Playlister!</h1>


<h2>View Songs: </h2>
<a href="/songs">All Songs</a>

<br>
<br>
<h2>View Artists:</h2>
<a href="/artists">All Artists</a>

<br>
<br>

<h2>View Genres:</h2>
<a href="/genres">All Genres</a>


